<!--
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Brand Name</th>
      <th>Color Name</th>
      <th>Daily Price</th>
      <th>Model Year</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars">
      <td>{{car.id}}</td>
      <td>{{car.name}}</td>
      <td>{{car.brandName}}</td>
      <td>{{car.colorName}}</td>
      <td>{{car.dailyPrice}}</td>
      <td>{{car.modelYear}}</td>
    </tr>
  </tbody>
</table> -->


<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Search</label>
  <input type="email" class="form-control" [(ngModel)]="filterText" id="filterText" placeholder="Arama yapiniz">
</div>
<div *ngIf="filterText" class="alert alert-primary">
  {{filterText}} Aradiniz ..
</div>
<div class="row" *ngIf="dataLoaded==true">
  <div *ngFor="let car of cars | filterPipe:filterText " class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title d-flex justify-content-center">{{car.name}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Brand: {{car.brandName}}</li>
      <li class="list-group-item">Color: {{car.colorName}}</li>
      <li class="list-group-item">Model Year: {{car.modelYear}}</li>
      <li class="list-group-item">Daily Price: {{car.dailyPrice}}</li>
      <li class="list-group-item">Daily Price: {{car.description}}</li>
    </ul>
    <div class="card-body">
      <section style="text-align: center;">
          <button routerLink="/cars/car-detail/{{car.id}}" type="button" class="btn btn-primary">Arac Detayi</button>
          <button routerLink="/cars/update/{{car.id}}" type="button" class="btn btn-warning">Guncelle</button>
      </section>
  </div>
  </div>

</div>
